* {
    margin:0;
    padding: 0;
}
body {
    font-family: 'Montserrat',sans-serif;
}

 a{
        text-decoration: none;

 }
.content-wrapper {
    width: 1200px;
    background-color: blue;
   
}
.headers-navigation-list {
    width: fit-content;
}
.headers-navigation-item {
    display: inline-block;
    padding: 32px 32px 32px 32px;
    margin-left: 60px; 
    margin-right: 100px;
    
    }
h2{
    color: #000;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%; /* 64.8px */
margin: 88px 40px 0 0;
}
.paragraph{
    color: #161616;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
margin-top: 88px;
margin-bottom: 44px;
margin-left: 350px;
margin-right: 350px;
}
li{
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin-left: 350px;
    margin-right: 350px; 
}
    button{        
 margin: 20px 20px 30px 720px;
 text-align: center
}
footer{
    text-align: center;
}

